@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


body {
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

a {
  color:#286efa;
}



.card-body a {
  text-decoration: none;
  color: #286efa;
  padding: 1px 0 2.5px 0;
  box-shadow: none;
  background: 0 0;
  transition: box-shadow .2s;
}


.card-body a:hover {
  color:#4C86FA;
  text-decoration: none;
  padding: 1px 0 2.5px 0;
  box-shadow: inset 0 -2px 0 #286efa;
  background: 0 0;
  transition: box-shadow .2s;
}



footer a {
  text-decoration: none;
}


footer a:hover {
 font-style: italic;
 text-decoration: none;
}


.realfooter a {
  color: #636E7B;
}

.realfooter a:hover {
  color: #4B535C;
  /*text-decoration: underline;*/
}




h1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -.02em;
}

/*
Extra small devices (portrait phones, less than 544px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/
.page-main-text {font-size:3rem;} /*1rem = 16px*/
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  .page-main-text {font-size:3rem;} /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .page-main-text {font-size:3rem;} /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .page-main-text {font-size:4rem;} /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .page-main-text {font-size:5rem;} /*1rem = 16px*/
}


/*
Extra small devices (portrait phones, less than 544px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/
.weird-trick-get-a-boss {font-size:1rem;} /*1rem = 16px*/
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  .weird-trick-get-a-boss {font-size:2rem;} /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .weird-trick-get-a-boss {font-size:2rem;} /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .weird-trick-get-a-boss {font-size:2rem;} /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .weird-trick-get-a-boss {font-size:3rem;} /*1rem = 16px*/
}




h1, h2 {
  font-family: 'Inter', sans-serif;
  color:#262626;
  margin-bottom: 50px;
}

h3 {
  font-family: 'Inter', sans-serif;
  color:#262626;
  margin-bottom: 30px;
}


h4 {
  font-family: 'Inter', sans-serif;
  color:#262626;
  margin-bottom: 30px;
}

section {
  padding-top:70px;
  padding-bottom: 70px;
}



.btn {
  /*border-radius: 22px;*/
  font-weight: 700;
  padding: 8px 22px;
}

.btn-success {
    color: #fff;
    background-color: #27ae60;
    border-color: #27ae60;
}

.btn-default {
  color:#fff;
  background-color: #286efa;
  border-color: #286efa;
}

.btn-outline-primary:hover {
  background-color: #215BCD;
  border-color: #215BCD;
}


.btn-default:hover {
  color:#fff;
  background-color: #215BCD;
  border-color: #215BCD;
}

.background-grey {
  background-color: #d4d5d7;
}

/* navbar */

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #e6eaef;
  padding: 1rem 1rem;
  /*box-shadow: 0px 3px 8px rgba(0,0,0,0.1);*/
}

.navbar-light .navbar-toggler-icon{
/*background-image: url(https://i.stack.imgur.com/mSXoO.png)!important;*/
background-image: url(data:image/svg+xml;charset=utf8,
  <svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'>
    <path stroke='rgba(0, 0, 0, 0.7)' stroke-width='5' stroke-linecap='square' stroke-miterlimit='1' d='M4 7h22M4 15h22M4 23h22'/>
    <path stroke-linecap="butt" d="M5 20 l215 0" />
    <path stroke-linecap="butt" d="M5 40 l215 0" />
  </svg>)
}


.nav-link {
  padding-right: 20px !important;
  padding-left:20px !important;
  color: #404040 !important;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}

/* hero */

/* jumbotron */

#hero {
  padding-bottom: 0px !important;
}


.jumbotron {
  border-radius: 0px;
  color:#fff;
  background-color: transparent;
  margin-top: 30px;
}

.jumbo-text {
  margin-bottom:50px;
  font-family: 'Inter', sans-serif;
  color:#fff;
}


#howitworks {
  background-color: #f4f4f4;
  border-bottom: 1px solid #d5d5d5;
  border-top:1px solid #d5d5d5;
}

#howitworks .big-text {
  font-size:18px;
}


#expcard {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: -70px;
  background-color: #fff;
  padding:50px;
  border:none;
}

#weird-section {
  padding-top: 0px;
}

#weird-section-part-1 {
  background-color: #fff;
  /*background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);*/
  font-weight: 700;
  padding:100px 100px 50px 100px;
}

/*#weird-section-part-1 h2 {
  color: #fff;
}*/

#weird-section-part-1 p {
  font-size: 20px;
  color: #fff;
    line-height: 26px;
}

@media only screen and (max-width: 600px) {
    #weird-section-part-1 {
      padding:100px 20px;
    }
    #expcard {
  margin-left: 20px;
  margin-right: 20px;
}
}

/* FAQs */

@media only screen and (min-width: 991px) {
    .faq-holder {
      padding:0 20%;
    }
}

.leading-p {
  font-size:20px;
}

.card-header h5 {
  font-weight: 700;
}

/* how it works*/

.hiw-col {
  padding:30px;
}

.card-header {
  background-color: #fff;
}

#nomoretools {
background: #F2994A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#nomoretools h2 {
  color: #fff;
}


.how-it-works-item {
    width: 3rem;
    height: 3rem;
    border-radius: 10%;
    /* background-color: #dae5f2; */
    display: flex;
    align-items: center;
    /* color: #286efa; */
    /* justify-content: center; */
    font-size: 2.5rem;
    margin-right: 1rem;
    flex-shrink: 0;
    font-weight: 700;
    margin-bottom: 1rem;
}

.jordy-blue {
  background-color: #286efa5e;
}

.iguana-green {
  background-color: #27ae6066;
}

.amaranth-pink {
  background-color: #f8a0b18c;
}

.mellow-yellow {
  background-color: #f5d77c99;
}


.jordy-blue-light {
  background-color: #C3D5FF;
}

.iguana-green-light {
  background-color: #B1D5B9;
}

.amaranth-pink-light {
  background-color: #FBCBD4;
}

.mellow-yellow-light {
  background-color: #F9E9B7;
}

.jordy-blue-very-light {
  background-color: #E2ECFF;
}




#blue-quote {
  color:#91B2FF;;
}

#green-quote {
  color:#71B380;;
}

#yellow-quote {
  color:#F5D77C;;
}


#pink-quote {
  color:#F8A8B8;
}

.blockquote-footer {
  font-size: 105%;
  margin-top:10px;
}


.my-comment {
  color:#6b7280;
  margin-top: 30px;
  font-size: 16px;
}

#cta {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #eaeaea;
  border-top: 1px solid #d5d5d5;
}


/* footer */

.realfooter {
  padding:50px;
  border-top: 1px solid #d5d5d5;
  line-height: 1.3;
}

.realfooter p {
  font-size: 15px;
  color: #4B535C;;
}

.realfooter li {
    font-size: 15px;
    color: #4B535C;
}


.fa-gift {
  color:#94C595;
}


.fa-heart {
  color:#F8A0B1;
}

.fa-coffee {
  color:#B19174;
}


.pricing-card {
  border: none;
  /* box-shadow: 0 2px 8px 0 rgba(0,0,0,.2); */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.pricing-card-header {
  min-height:170px !important;
  border-bottom-color: transparent;
}

.pricing-card-header .desc {
  /* font-size: 26px; */
  font-weight: 600;
  margin-top: 1rem;
}

.pricing-card-header p {
  font-size: 18px;
  font-weight: 400;
}

.sub-desc {
  font-size: 15px !important;
  color:#212529;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.sub-desc-spl {
  margin-bottom: 5rem;
}


.pricing-table .card-body {
  padding:30px !important;
}

.pricing-table .card:hover {
  box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}

.pink-grad {
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.blue-grad {
  /*background-image: linear-gradient(to right, #286efa 0%, )*/
  background: #286efa;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #286efa, #91B2FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #286efa, #91B2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#join {
  background-color: #f4f4f4;
  border-top:1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  padding-top:100px;
  padding-bottom: 100px;
}

#forme {
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 100px;
}

li {
  margin-top:5px;
  margin-bottom: 5px;
}

.bold {
  font-weight: 700;
}

.faq-sec {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

#successh1 {
  font-weight: 600;
  color:white;
  font-size: 60px;
  margin-bottom: 0px !important;
}


.blockquote {
  font-size: 1rem;
  line-height: 1.7;
}

.fa-quote-left {
  color: #8897a8;
  font-size: 30px !important;
}

.subti {
  color: #8897a8;
  margin-top: 30px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin-top:30px;
  margin-bottom: 30px;
}

.test-sec {
  border-top:1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  padding-top:100px;
  padding-bottom: 100px;
}

.card-deck {
  margin-top: 10px;
}

.boldquote {
  font-weight: 600;
}

.testimonials .card-body {
  line-height: 1.5;
  background-color: #f4f4f4;
  font-size: 15px;
  color: #121a24;
  padding:2rem 2rem;
}

.card-columns .card {
    margin-bottom: 1.5rem;
    border:none;
    box-shadow: none;
}

.card-columns .card:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}



.announcement-div {
  margin-bottom: 25px;
}

.announcement {
  background-color: #B1D5B9;
  padding: 5px 10px;
  border-radius: 10px;
}

.announcement .badge {
  margin-right: 10px;
}

.announcement-div a {
  color:#393051 !important;
  font-weight: 600 !important;
  text-decoration: : none;
}

.announcement-div a:hover {
  text-decoration: : none;
}

.fa-arrow-right {
  margin-left: 10px;
}


.beeminder-announce {
  background-color: #F5D77C;
}






/* email octopus */




/*.email-octopus-form-row-consent{
    margin-top:20px
}

.email-octopus-form-row-subscribe{
    margin-top:20px
}*/

.email-octopus-form-row-hp{
    position:absolute;
    left:-5000px
}
.email-octopus-error-message{
    color: #dc3545;
    font-weight: 600;
}

.email-octopus-success-message{
    color:#27ae60;
    font-weight: 600;
}



.email-octopus-referral,.email-octopus-rewards{
    margin-top:20px
}

/*.btn-lg {
  padding: 7px 5px !important;
}*/

.email-octopus-button {
  padding:8px 2px !important;
}

/*terms of service*/

.termsofservice h2, .privacy h2 {
  margin:20px 0px;
}

.termsofservice h2, .privacy h3 {
  margin:20px 0px 20px 0px;
}


/*gift*/

.gift-card-header .desc {
  font-weight: 600;
  font-size: 26px;
}

.gift-table-container {
  margin: 100px 0px;
}

.gift-table-container .pricing-table .card {
  padding:20px;
}

.gift-faqs h3 {
  margin-top:30px;
}

.border-top {
  border-top:1px solid #d5d5d5;;
}

.gift-table-container .card-body {
  padding:0px;
}

.gift-table-container .card-body h3 {
  margin-bottom: 0px;
}

.gift-table-container .card-header {
  border-bottom: none;
  background-color: transparent;
}

.gift-table-container .card-footer {
  border-top: none;
  background-color: transparent;
}

.gift-faqs .bold {
  margin-top: 30px;
}




/*press features*/

#press-features {
  background-color: #f4f4f4;
}

/* make the image rendering sharp */
#press-features img {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

/*gift*/

.gift-one-month, .gift-three-months, .gift-one-year  {
  border:1px solid #222;
  background-color: #fff;
}



.clearfix::after {
  content: "";
  clear: both;
  display: table;
}






/* EXPERIMENTAL */

.fancy-underline{position: relative;}
.fancy-underline:before {
  content: "";
  position:relative;
  width:100%;
  height: 2.45em;
  left: 0;
  width: 100%;
  z-index:1;
  background-image: url('fancy-underline-blue.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.fancy-underline:after {
  content: "";
  position:absolute;
  width:100%;
  height: 2.45em;
  left: 0;
  width: 100%;
  z-index:1;
  background-image: url('fancy-underline-blue.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}



.fancy-underline-two{position: relative;}
.fancy-underline-two:before {
  content: "";
  position:relative;
  width:100%;
  height: 2.45em;
  left: 0;
  width: 100%;
  z-index:1;
  background-image: url('lol.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.fancy-underline-two:after {
  content: "";
  position:absolute;
  width:100%;
  height: 3.5em;
  left: 0;
  width: 100%;
  z-index:1;
  background-image: url('lol.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.plan_new {
    display: inline-block;
    position: absolute;
    top: -1rem;
    left: 2rem;
    transform: rotate(
-2deg
);
    font-size: 16px;
    padding: 2px 8px;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
    z-index:10;
}

.new-feature-callout {
  border: 1px solid black;
    padding: 15px;
    border-radius: 4px;
    background-color: #f4f4f4;
    font-weight: 600;
    color: #286efa;
}
