body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

a {
  color:#286efa;
}

section li > a, section p > a, section h5 a {
  text-decoration: none;
  color: #212529;
  padding: 1px 0 2.5px 0;
  box-shadow: inset 0 -3px 0 #e92f9f;
  background: 0 0;
  transition: box-shadow .2s;
}


section li > a:hover, section p > a:hover, section h5 a:hover {
  box-shadow: inset 0 -4em 0 #F7B3DC;
  color:#212529;
  text-decoration: none;
}



.ignore-css-button-primary{
  text-decoration: none;
  color: white;
  padding: none;
  box-shadow: none;
  background: none;
  transition: none;
  background-color: #286efa;
}

.ignore-css-button-primary:hover{
  box-shadow: none;
  color:white;
  text-decoration: none;
  background-color: #215BCD;
}

.ignore-css-button-secondary {
  text-decoration: none;
  color: #286efa;
  padding: none;
  box-shadow: none;
  background: none;
  transition: none;
  background-color: #fff;
}

.ignore-css-button-secondary:hover {
  box-shadow: none;
  color:white;
  text-decoration: none;
  background-color: #286efa;
}



.card-body a {
  text-decoration: none;
  color: #868e96;
  padding: 1px 0 2.5px 0;
  box-shadow: inset 0 -3px 0 #e92f9f;
  background: 0 0;
  transition: box-shadow .2s;
}


.card-body a:hover {
  box-shadow: inset 0 -4em 0 #F7B3DC;
  color:#212529;
  text-decoration: none;
}



footer a {
  text-decoration: none;
}


footer a:hover {
 font-style: italic;
 text-decoration: none;
}


.realfooter a {
  color: #636E7B;
}

.realfooter a:hover {
  color: #4B535C;
  /*text-decoration: underline;*/
}




h1 {
  font-weight: 700;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
  color:#393051;
  margin-bottom: 50px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  color:#393051;
  margin-bottom: 30px;
}


h4 {
  font-family: 'Poppins', sans-serif;
  color:#393051;
  margin-bottom: 30px;
}

section {
  padding-top:70px;
  padding-bottom: 70px;
}



.btn {
  /*border-radius: 22px;*/
  font-weight: 700;
  padding: 8px 22px;
}

.btn-success {
    color: #fff;
    background-color: #27ae60;
    border-color: #27ae60;
}

.btn-default {
  color:#fff;
  background-color: #286efa;
  border-color: #286efa;
}


.btn-default:hover {
  color:#fff;
  background-color: #215BCD;
  border-color: #215BCD;
}

.background-grey {
  background-color: #d4d5d7;
}

/* navbar */

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #e6eaef;
  /*box-shadow: 0px 3px 8px rgba(0,0,0,0.1);*/
}

.navbar-light .navbar-toggler-icon{
/*background-image: url(https://i.stack.imgur.com/mSXoO.png)!important;*/
background-image: url(data:image/svg+xml;charset=utf8,
  <svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'>
    <path stroke='rgba(0, 0, 0, 0.7)' stroke-width='5' stroke-linecap='square' stroke-miterlimit='1' d='M4 7h22M4 15h22M4 23h22'/>
    <path stroke-linecap="butt" d="M5 20 l215 0" />
    <path stroke-linecap="butt" d="M5 40 l215 0" />
  </svg>)
}


.nav-link {
  padding-right: 20px !important;
  padding-left:20px !important;
}

/* hero */

/* jumbotron */

#hero {
  padding-bottom: 0px !important;
}


.jumbotron {
  border-radius: 0px;
  color:#fff;
  background-color: transparent;
  margin-top: 30px;
}

.jumbo-text {
  margin-bottom:50px;
  font-family: 'Poppins', sans-serif;
  color:#fff;
}


#howitworks {
  background-color: #cddcff61;
  border-bottom: 1px solid #d5d5d5; 
  border-top:1px solid #d5d5d5;
}


#expcard {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: -70px;
  background-color: #fff;
  padding:50px;
  border:none;
}

#weird-section {
  padding-top: 0px;
}

#weird-section-part-1 {
  background-color: #fff;
  /*background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);*/
  font-weight: 700;
  padding:100px 100px 50px 100px;
}

/*#weird-section-part-1 h2 {
  color: #fff;
}*/

#weird-section-part-1 p {
  font-size: 20px;
  color: #fff;
    line-height: 26px;
}

@media only screen and (max-width: 600px) {
    #weird-section-part-1 {
      padding:100px 20px;
    }
    #expcard {
  margin-left: 20px;
  margin-right: 20px;
}
}

/* FAQs */

@media only screen and (min-width: 991px) {
    .faq-holder {
      padding:0 20%;
    }
}

.leading-p {
  font-size:20px;
}

.card-header h5 {
  font-weight: 700;
}

/* how it works*/

.hiw-col {
  padding:30px;
}

.card-header {
  background-color: #fff;
}

#nomoretools {
background: #F2994A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#nomoretools h2 {
  color: #fff;
}


.how-it-works-item {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: #dae5f2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-right: 1rem;
    flex-shrink: 0;
    font-weight: 700;
    margin-bottom: 1rem;
}

.jordy-blue {
  background-color: #91B2FF;
}

.iguana-green {
  background-color: #71B380;
}

.amaranth-pink {
  background-color: #F8A0B1;
}

.mellow-yellow {
  background-color: #F5D77C;
}


.jordy-blue-light {
  background-color: #C3D5FF;
}

.iguana-green-light {
  background-color: #B1D5B9;
}

.amaranth-pink-light {
  background-color: #FBCBD4;
}

.mellow-yellow-light {
  background-color: #F9E9B7;
}

.jordy-blue-very-light {
  background-color: #E2ECFF;
}




#blue-quote {
  color:#91B2FF;;
}

#green-quote {
  color:#71B380;;
}

#yellow-quote {
  color:#F5D77C;;
}


#pink-quote {
  color:#F8A8B8;
}

.blockquote-footer {
  font-size: 105%;
}


.my-comment {
  color:#8897a8;
  margin-top: 30px;
  font-size: 16px;
}

#cta {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #eaeaea;
  border-top: 1px solid #d5d5d5;
}


/* footer */

.realfooter {
  padding:50px;
  border-top: 1px solid #d5d5d5;
}

.realfooter p {
  font-size: 15px;
  color: #4B535C;;
}



.fa-gift {
  color:#94C595;
}


.fa-heart {
  color:#F8A0B1;
}

.fa-coffee {
  color:#B19174;
}


.pricing-card {
  border: none;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
}

.pricing-card-header {
  min-height:170px !important;
  border-bottom-color: transparent;
}

.pricing-card-header .desc {
  font-size: 26px;
  font-weight: 600;
  margin-top: 1rem;
}

.pricing-card-header p {
  font-size: 18px;
  font-weight: 400;
}

.sub-desc {
  font-size: 15px !important;
  color:#212529;
  margin-top: 2rem;
}

.pricing-table .card-body {
  padding:30px !important;
}

.pricing-table .card:hover {
  box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}

.pink-grad {
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.blue-grad {
  /*background-image: linear-gradient(to right, #286efa 0%, )*/
  background: #286efa;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #286efa, #91B2FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #286efa, #91B2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#join {
  background-color: #cddcff61;
  border-top:1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  padding-top:100px;
  padding-bottom: 100px;
}

#forme {
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 100px;
}

li {
  margin-top:5px;
  margin-bottom: 5px;
}

.bold {
  font-weight: 700;
}

.faq-sec {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

#successh1 {
  font-weight: 600;
  color:white;
  font-size: 60px;
  margin-bottom: 0px !important;
}


.blockquote {
  font-size: 1rem;
  line-height: 1.7;
}

.fa-quote-left {
  color: #8897a8;
  font-size: 30px !important;
}

.subti {
  color: #8897a8;
  margin-top: 30px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin-top:30px;
  margin-bottom: 30px;
}

.test-sec {
  border-top:1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  padding-top:100px;
  padding-bottom: 100px;
}

.card-deck {
  margin-top: 10px;
}

.boldquote {
  font-weight: 600;
}

.testimonials .card-body {
  line-height: 1.8;
  background-color: #cddcff61;
}

.card-columns .card {
    margin-bottom: 1.5rem;
    border:none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* blog 

.jumbo-blog {
  border-bottom: 1px solid #d5d5d5;
  margin-top: 0px;
  padding-top:150px;
}

.blog-title {
  margin:0px !important;
}

.jumbo-blog p {
  color: #fff;
  margin-top: 20px;
}

.jumbo-blog h1 {
  color: #fff;
}

.blog-body-text {
  font-size: 16px;
}


.page-heading {
  background: 
    linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
    url('http://unsplash.it/1200x800') center center no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
}


.reading {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}

.signup-blog {
  background-color: #e5e5e5;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.blog-card {
  margin-top:10px;
  margin-bottom: 10px;
}

.blog-extract-container {
  margin-top: 20px;
  /*background-color: #C3D5FF;
  border:1px solid #B2C2E8;*/
}

.announcement-div {
  margin-bottom: 25px;
}

.announcement {
  background-color: #B1D5B9;
  padding: 5px 10px;
  border-radius: 10px;
}

.announcement .badge {
  margin-right: 10px;
}

.announcement-div a {
  color:#393051 !important;
  font-weight: 600 !important;
  text-decoration: : none;
}

.announcement-div a:hover {
  text-decoration: : none;
}

.fa-arrow-right {
  margin-left: 10px;
}


.beeminder-announce {
  background-color: #F5D77C;
}






/* email octopus */




/*.email-octopus-form-row-consent{
    margin-top:20px
}

.email-octopus-form-row-subscribe{
    margin-top:20px
}*/

.email-octopus-form-row-hp{
    position:absolute;
    left:-5000px
}
.email-octopus-error-message{
    color: #dc3545;
    font-weight: 600;
}

.email-octopus-success-message{
    color:#27ae60;
    font-weight: 600;
}



.email-octopus-referral,.email-octopus-rewards{
    margin-top:20px
}

/*.btn-lg {
  padding: 7px 5px !important;  
}*/

.email-octopus-button {
  padding:8px 2px !important;
}

/*terms of service*/

.termsofservice h2, .privacy h2 {
  margin:20px 0px;
}

.termsofservice h2, .privacy h3 {
  margin:20px 0px 20px 0px;
}


/*gift*/

.gift-card-header .desc {
  font-weight: 600;
  font-size: 26px;
}

.gift-table-container {
  margin: 100px 0px;
}

.gift-table-container .pricing-table .card {
  padding:20px;
}

.gift-faqs h3 {
  margin-top:30px;
}

.border-top {
  border-top:1px solid #d5d5d5;;
}

.gift-table-container .card-body {
  padding:0px;
}

.gift-table-container .card-body h3 {
  margin-bottom: 0px;
}

.gift-table-container .card-header {
  border-bottom: none;
  background-color: transparent;
}

.gift-table-container .card-footer {
  border-top: none;
  background-color: transparent;
}

.gift-faqs .bold {
  margin-top: 30px;
}




/*press features*/

#press-features {
  background-color: #cddcff61;
}

/*gift*/

.gift-one-month {
  background-color: #91b2ff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%237999e5' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.gift-three-months {
background-color: #f5d77c;
background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ecc54e' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.gift-one-year {
  background-color: #f8a0b1;
background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f28096' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


